---
import Layout from "../layouts/Layout.astro";

import '@fontsource-variable/inter'
import '@fontsource/ubuntu'
import '@fontsource/poppins'
import '@fontsource-variable/montserrat'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Online Helpers</title>
	</head>
	<Layout>
		<main>
			<section>
				<div>
					<h1 class='text-6xl mt-28 font-bold'>Online Helpers</h1>
					<p class="text-3xl mt-5 max-w-3xl">Work for groundbreaking, innovative companies from the comfort and safety of your own home</p>
				</div>
			</section>
		</main>
	</Layout>
</html>

<style>
  h1 {
	font-family: 'Ubuntu';
	color: #FBBF24;
  }
  p {
	font-family: 'Poppins';
	color: #1F2937;
  }
  
</style>