---
import Candidates from "../components/Candidates.astro";
import Mainsection from "../components/Mainsection.astro";
import Offer from "../components/Offer.astro";
import LookingFor from "../components/LookingFor.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Gallery from "../components/Gallery.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Online Helpers</title>
	</head>
	<Layout>
		<Mainsection />
		<Offer />
		<LookingFor />
		<hr>
		<Candidates />
		<Gallery />
		<Footer/> 
	</Layout>
</html>

<style>
	body {
		overflow-x: hidden;
	}
</style>