---
import Skills from "./Skills.astro";

---


<section class="flex flex-col justify-center m-4 p-4 mt-30" id="jobs">
    <div class="flex justify-center flex-col items-center">
        <h1 class="text-4xl text-center">Our Current Jobs</h1>
        <p class="p-4 text-xl max-w-2xl text-center">We offer remote positions with competitive pay and long-term parterships. Find the perfect role and start your career from home.</p>
    </div>
    <div class="flex gap-4 justify-center mt-10 flex-wrap">
        <Skills textUp="Online Installation" textMiddle="Technician" rate="4USD/h" href="/technician"/> 
        <Skills textUp="Online Helper" textMiddle="English" rate="3USD/h" href="/english"/> 
        <Skills textUp="Online Helper" textMiddle="Spanish" rate="3USD/h" href="/spanish"/> 
    </div>
</section>



<style>
    h1 {
        font-family: 'Onest Variable', sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
   
</style>