---
import 'photoswipe/style.css';
import '@fontsource-variable/onest'
const { name, photo, text } = Astro.props

---

<section class="h-70">             
  <div class="w-60 m-4 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md">
    <div class="col-span-2 text-lg font-bold capitalize rounded-md flex gap-4">
      <img src={photo} alt="" width="30" class="rounded-full">
      <h2>{name}</h2>
    </div>
    <p>{text}</p>
  </div>
</section>

<style>
  h2 {
    font-family: 'Onest Variable';
  }
  p {
    font-family: 'Onest Variable';
  }
</style>