---
import GalleryItem from './GalleryItem.astro'
const firstTestimonie = 'Working remotely with Online Helpers has given me the chance to improve my skills every day. I feel more confident in my career and I can grow while working with new people in the world.'
const secondTestimonie = 'Working with Online Helpers has allowed me to take better care of myself. I can manage my time, focus on exercise and mental health, and still grow professionally at the same time'
const thirdTestimonie = 'Thanks to Online Helpers I’ve been able to practice my English on a daily basis. It’s not only a job, it’s also a space where I keep improving and learning something new all the time.'
const fourtTestimonie = 'Thanks to Online Helpers I feel less stressed and more balanced. Remote work allows me to take care of my health, exercise, and focus on my well-being while still being productive'
---

<section>
     <section class="flex flex-col justify-center items-center text-4xl p-10 text-center mt-30">
        <h1 class="font-bold p-4">Be part of the best team</h1>
        <p class="p-4 text-lg">Level up your skills, connect with amazing people, and enjoy every step of the journey with us.</p>
    </section>
    <section class="flex justify-center flex-wrap">
        <GalleryItem name="Juan Pablo" photo="null" text={firstTestimonie} photo="/test.jpg"/>
        <GalleryItem name="Maria Alejandra" photo="null" text={secondTestimonie} photo="/test2.jpg"/>
        <GalleryItem name="Diego Reyes" photo="null" text={thirdTestimonie} photo="/test3.jpg"/>
        <GalleryItem name="Edier Santiago" photo="null" text={fourtTestimonie} photo="/test4.jpg"/>
    </section>
        
</section>