---
import "../styles/global.css";
import '@fontsource/poppins'
import logoOh from '../../public/OH.jpg';
import { Image } from "astro:assets";
// Supports weights 100-900
import '@fontsource-variable/onest';
import LinkButton from "./LinkButton.astro";
import AnchorLink from "./AnchorLink.astro";
import ArrowDown from "./ArrowDown.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="header flex justify-between items-center m-auto max-w-6xl">
  <section>
    <div class="flex items-center justify-between">
      <div>
        <img src="/OH.jpg" alt="" class="sm:w-30 rounded-full w-25 m-4 p-4"/>
      </div>
      <div class="xl:hidden absolute right-0 m-4 p-4">
        <Hamburger />
      </div>   
    </div>
  </section>
  <div class='header__container hidden xl:flex'>
    <nav class="header__nav flex">
      <section class="flex gap-8 mb-10 z-10">
        <div class="flex">
          <AnchorLink 
              text='Home' 
              secondText="Social" 
              thirdText="Gallery" 
              idSecond="#social" 
              idThird="gallery"/>
        </div>
        <div class="flex">
          <AnchorLink 
             text='Carrers' 
             secondText="Spanish Jobs" 
             thirdText="English Jobs" 
             fourText="Technician"
             idSecond="/spanish"
             idThird="/english"
             idFour="/technician"
             />
        </div>
        <div class="flex">
          <AnchorLink 
             text='About Us' 
             secondText="Benefits" 
             thirdText="Privacy"
             idSecond="#offer"
             idThird="/privacy"
           />
        </div>
      </section>
    </nav>
  </div>
</header>
