---
import "../styles/global.css";
import '@fontsource/poppins'
import logoOh from '../../public/OH.jpg';
import { Image } from "astro:assets";
// Supports weights 100-900
import '@fontsource-variable/onest';
import LinkButton from "./LinkButton.astro";
import AnchorLink from "./AnchorLink.astro";
import ArrowDown from "./ArrowDown.astro";
---

<header class="header">
  <div class="header__container">
    <nav class="header__nav flex justify-between m-auto">
      <section class="flex gap-8 p-4 m-4 mb-2">
        <div class="flex">
          <AnchorLink text='Home' secondText="Social" thirdText="Gallery"/>
        </div>
        <div class="flex">
          <AnchorLink text='Carrers' secondText="Spanish Jobs" thirdText="English Jobs"/>
        </div>
        <div class="flex">
          <AnchorLink text='About Us' secondText="Benefits" thirdText="Privacy"/>
        </div>
      </section>
      <section class="flex gap-8 items-center m-4 p-4 mr-30">
            <img src="../../public/OH.jpg" alt="" object-fit="cover" class="w-15 rounded-full"/>    
      </section>
    </nav>
  </div>
</header>
