---
import "../styles/global.css";
import '@fontsource/poppins'
import logoOh from '../../public/OH.jpg';
import { Image } from "astro:assets";
// Supports weights 100-900
import '@fontsource-variable/onest';
import LinkButton from "./LinkButton.astro";
import AnchorLink from "./AnchorLink.astro";
import ArrowDown from "./ArrowDown.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="header flex items-center justify-between m-auto z-20 bg-amber-300">
  <section class="">
    <div class="flex items-center justify-between">
      <div class="sm:hidden m-4 p-4 z-20">
        <Hamburger />
      </div>   
      <div>
        <a href="/"> <img src="/OH.png" alt="" class="sm:w-50 rounded-full w-40 sm:mt-0 -mt-10  sm:m-4 sm:p-4 sm:relative sm:left-0 absolute right-0 cursor-pointer"/></a>
        
      </div>
    </div>
  </section>
  <div class='header__container hidden xl:flex'>
    <nav class="header__nav flex">
      <section class="flex gap-8 z-10">
        <div class="flex">
          <AnchorLink 
              text='Home' 
              secondText="Social" 
              thirdText="Testimonies" 
              idSecond="/#footer" 
              idThird="/#gallery"/>
        </div>
        <div class="flex">
          <AnchorLink 
             text='Carrers' 
             secondText="Spanish Jobs" 
             thirdText="English Jobs" 
             fourText="Technician"
             idSecond="/spanish"
             idThird="/english"
             idFour="/technician"
             />
        </div>
        <div class="flex">
          <AnchorLink 
             text='About Us' 
             secondText="Benefits" 
             thirdText="Privacy"
             idSecond="/#offer"
             idThird="/privacy"
           />
        </div>
      </section>
    </nav>
  </div>
</header>
