---
import "../styles/global.css";
import '@fontsource/poppins'
import logoOh from '../../public/OH.jpg';
import { Image } from "astro:assets";
// Supports weights 100-900
import '@fontsource-variable/onest';
import LinkButton from "./LinkButton.astro";
import AnchorLink from "./AnchorLink.astro";
import ArrowDown from "./ArrowDown.astro";
---

<header class="header flex justify-between items-center p-4 m-auto max-w-6xl">
  <div>
    <img src="/OH.jpg" alt="" class="sm:w-30 rounded-full w-25 m-4 p-4"/>    
  </div>
  <div class='header__container hidden xl:flex'>
    <nav class="header__nav flex">
      <section class="flex gap-8 mb-10 z-10">
        <div class="flex">
          <AnchorLink text='Home' secondText="Social" thirdText="Gallery"/>
        </div>
        <div class="flex">
          <AnchorLink text='Carrers' secondText="Spanish Jobs" thirdText="English Jobs" fourText="Technician"/>
        </div>
        <div class="flex">
          <AnchorLink text='About Us' secondText="Benefits" thirdText="Privacy"/>
        </div>
      </section>
    </nav>
  </div>
</header>
