---
import Layout from "../layouts/Layout.astro"
---

<header class="header">
  <div class="header__container">
      <nav class="header__nav">
        <a href="/">Home</a>
        <a href="/header">Benefits</a>
        <a href="/header">Careers</a>
        <a href="/header">About Us</a>
        <a href="/header">Gallery</a>
      </nav>
  </div>
</header>