
---
const { href, content } = Astro.props;
import '@fontsource/poppins'
import '@fontsource-variable/onest';
---

<a href={href}>{content}</a>


<style>

    a {
        text-decoration: none;
        color: black;
        font-family: 'Onest Variable';
        font-size: inherit;
        line-height: inherit;
    }
a {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

a:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

a:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

</style>