---
import OfferCard from './OfferCard.astro';
import '@fontsource-variable/onest';
---

<section class="flex flex-col justify-center m-4 p-4" id="offer">
    <div class="flex justify-center flex-col items-center">
      <h1 class="text-4xl">What We Offer</h1>
      <p class="p-4 text-xl max-w-2xl text-center">Join us and get the best perks of remote work</p>
    </div>
    <div class="flex gap-8 justify-center mt-10 flex-wrap">
        <OfferCard upText="Starting Rate" downText="$3/hour" svg="/income.svg"/> 
        <OfferCard upText="Work From" downText="Home" svg="/home.svg"/>  
        <OfferCard upText="Get Paid" downText="Reliably" svg="/withdraw.svg"/>  
        <OfferCard upText="Long Term" downText="Contract" svg="/contract.svg"/>  
    </div>
</section>

<style>
    h1 {
        font-family: 'Onest Variable', sans-serif;
        font-weight: 600;
        color: rgb(63, 63, 63);
    }

</style>