---
import Header from "../components/Header.astro"
import '@fontsource-variable/onest'
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";

---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ClientRouter />
    <title>Online Helpers</title>
</head>
<body class="max-w-7xl m-auto ">

    <Header />
    <slot />
    <Footer/>
</body>
</html>

<style>
    body {
        font-family: 'Onest Variable';
        overflow-x: hidden;
    }
</style>
