---
import Header from "../components/Header.astro"
import '@fontsource-variable/onest'
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Helpers</title>
</head>
<body class="max-w-7xl m-auto ">
        <div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_200%_at_50%_0%,#f6e201,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>

    <Header />
    <slot />
</body>
</html>

<style>
    body {
        font-family: 'Onest Variable';
    }
</style>
