---
import Header from "../components/Header.astro"
import '@fontsource-variable/onest'
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";

---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ClientRouter />
    <title>Online Helpers</title>
</head>
<body class=" m-auto ">
    <div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_50%_50%_at_50%_-20%,rgba(255,255,1,1),rgba(255,255,255,0))]"></div>
    <Header />
    <slot />
    <Footer/>
</body>
</html>

<style>
    body {
        font-family: 'Onest Variable';
        overflow-x: hidden;
    }
</style>
